<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find sr_ronex_mechanism_model)/example/ronex.urdf'" />

  <!-- Start the driver -->
  <node name="ronex" pkg="pr2_etherCAT" type="pr2_etherCAT" args="-i $(optenv ETHERCAT_PORT eth0) -r /robot_description" output="screen"  launch-prefix="nice -n -20" /> <!--launch-prefix="gdb -ex run -args" launch-prefix="xterm -hold -e strace -f -e trace=!gettimeofday,futex"> -->

  <!-- loads the controllers param -->
  <rosparam command="load" file="$(find sr_ronex_controllers)/config/general_io_passthrough_controller.yaml" />

  <node name="ronex_ctrl_spawner"
	pkg="pr2_controller_manager" type="spawner" output="screen"
	args="ronex_33554433_0_passthrough" />
</launch>