<!-- Very simple example of a robot with one continuous joint using the analogue pin 0 from
     a RoNeX GeneralIO module to set the current position of the joint. -->
<robot name="test_robot">
  <link name="link1" />
  <link name="link2" />

  <joint name="joint1" type="continuous">
    <parent link="link1"/>
    <child link="link2"/>
  </joint>

  <transmission type="sr_ronex_transmissions/RonexTransmission" name="my_ronex_transmission">
    <joint name="joint1"/>
    <mapping ronex="/ronex/general_io/0" property="position" analogue_pin="0" scale="1.0" offset="0.0"/>
    <mapping ronex="/ronex/general_io/0" property="effort" analogue_pin="1" scale="2.0" offset="1.0"/>
    <mapping ronex="/ronex/general_io/0" property="command" pwm_module="1" pwm_pin="0" direction_pin="5"/>
  </transmission>
</robot>