<launch>
  <!-- Load the robot description -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find sr_ronex_examples)/model/simple_robot.urdf'" />

  <!-- Allows to specify the ethernet interface to be used. It defaults to the value of the env var ETHERCAT_PORT -->
  <arg name="ethercat_port" default="$(optenv ETHERCAT_PORT eth1)" />

  <!-- Start the ronex driver -->
  <node name="ronex" pkg="ros_ethercat_loop" type="ros_ethercat_loop" args="-i $(arg ethercat_port) -r /robot_description" output="screen"  launch-prefix="nice -n -20"/> 
  
  <!-- Loads the controller parameter -->
  <rosparam command="load" file="$(find sr_ronex_examples)/config/data_access_controller.yaml" />

  <!-- spawning traditional joint controllers -->
  <node name="simple_controllers_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="super_simple_controller" />
</launch>
