<launch>
  <!-- Allows to specify the ethernet interface to be used. It defaults to the value of the env var ETHERCAT_PORT -->
  <arg name="ethercat_port" default="$(optenv ETHERCAT_PORT eth0)" />

  <!-- Loads the robot description -->
  <include file="$(find sr_ronex_launch)/launch/sr_ronex_no_controllers.launch">
    <arg name="ethercat_port" value="$(arg ethercat_port)"/>
  </include>

 <!-- loading controller parameters -->
  <rosparam file="$(find sr_ronex_controllers)/config/spi_sensor_read_controller.yaml" command="load"/>

  <!-- launching the controller -->
  <node name="SPI_sensor_controller_spawner"
            pkg="controller_manager" type="spawner" output="screen"
            args="--shutdown-timeout=1.0 ronex_spi_sensor_controller"/>
</launch>
