<launch>
  <!-- Allows to specify the ethernet interface to be used. It defaults to the value of the env var ETHERCAT_PORT -->
  <arg name="ethercat_port" default="$(optenv ETHERCAT_PORT eth0)" />

  <!-- Loads the robot description -->
  <include file="$(find sr_ronex_launch)/launch/sr_ronex_no_controllers.launch">  
    <arg name="ethercat_port" value="$(arg ethercat_port)"/>
  </include>

  <!-- loads the controllers param -->
  <rosparam command="load" file="$(find sr_ronex_controllers)/config/general_io_passthrough_controller.yaml" />

  <node name="ronex_ctrl_spawner"
	pkg="pr2_controller_manager" type="spawner" output="screen"
	args="ronex_33554433_0_passthrough" />

</launch>

